Options FollowSymLinks
<IfModule mod_rewrite.c>
    RewriteEngine on
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)?$ index.php/$1 [L]

    #RewriteCond %{HTTP_HOST} !^www\.app01vipo\.com$
    #RewriteCond %{HTTP_HOST} ([^.]+)\.app01vipo\.com$
    #RewriteRule ^([^/]*)(/.*)?$ index.php?appname=$1/$2 [L]
</IfModule> 

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>